@model Phoenix.Web.Models.Election.ProtocolViewModel

@{
    ViewData["Title"] = "Протокол";
}

<div class="row text-center">
    <div class="col">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="viewProtocol" id="operationalProtocol" value="oper" />
            <label class="form-check-label" for="operationalProtocol">Оперативные данные</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="viewProtocol" id="fullProtocol" value="full" />
            <label class="form-check-label" for="fullProtocol">Полные данные</label>
        </div>
    </div>
</div>
<hr />
<h4>@Model.Name</h4>

<input type="hidden" name="protocolId" id="protocolId" value="@Model.Id" />

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Пункт протокола</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProtocolItems)
        {
            if (item.IsMultiple)
            {
                <tr class="TemplateItem-Multiple table-info" data-id="@item.Order" data-oper="@item.IsOperational">
                    <th>@item.Order</th>
                    <td>@item.Name</td>
                    @if (item.NoValue)
                    {
                        <td>
                            <input class="form-control form-control-sm MultyValue" type="number" value="" disabled="disabled" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input class="form-control form-control-sm TemplateValue" type="number" value="@item.Value" />
                        </td>
                    }
                </tr>
                @foreach (var child in item.ChildItems)
                {
                    if (child.IsMultiple)
                    {
                        <tr class="TemplateItem-Multiple table-secondary" data-parent-id="@item.Order" data-parent-name="@child.Name.Replace("\"", "'")" data-oper="@child.IsOperational">
                            <td>@child.Order</td>
                            <td>@child.Name</td>
                            @if (child.NoValue)
                            {
                                <td>
                                    <input class="form-control form-control-sm MultyValue" type="number" value="" disabled="disabled" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input class="form-control form-control-sm MultyValue" type="number" value="@child.Value" />
                                </td>
                            }
                        </tr>
                        @foreach (var childChild in child.ChildItems)
                        {
                            <tr class="TemplateItem-Single" data-parent-id="@item.Order" data-oper="@childChild.IsOperational" data-parent-name="@child.Name.Replace("\"", "'")">
                                <td>@childChild.Order</td>
                                <td>@childChild.Name</td>
                                <td>
                                    <input class="form-control form-control-sm TemplateValue" type="number" value="@childChild.Value" data-id="@childChild.Id" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="TemplateItem-Single" data-parent-id="@item.Order" data-parent-name="@child.Name.Replace("\"", "'")" data-oper="@child.IsOperational">
                            <td>@child.Order</td>
                            <td>@child.Name</td>
                            <td>
                                <input class="form-control form-control-sm TemplateValue" type="number" value="@child.Value" data-id="@child.Id" />
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr class="TemplateItem-Single table-info" data-id="@item.Order" data-parent-name="@item.Name" data-oper="@item.IsOperational">
                    <th>@item.Order</th>
                    <td>@item.Name</td>
                    <td>
                        <input class="form-control form-control-sm TemplateValue" type="number" value="@item.Value" data-id="@item.Id" />
                    </td>
                </tr>
            }
        }
        <tr>
            <td colspan="3">
                <textarea id="protocolIssue" class="form-control" placeholder="Введите комментарий (например, составлен акт)">@Model.Issue</textarea>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col"><button type="button" class="btn btn-danger btn-block" id="btnProtocolCancel">Отмена</button></div>
    <div class="col"><button type="button" class="btn btn-success btn-block" id="btnProtocolSave">Сохранить</button></div>
</div>

@section Scripts
{
    <script>
        var needValidate = false;

        function ValidateProtocol() {
            // подсветить пустые поля
            $('.table').find('tr[class*="TemplateItem-Single"]').find('.TemplateValue').each(function (index, element) {
                if (!$(element).val()) {
                    $(element).css("backgroundColor", "#FF4411");
                } else {
                    $(element).css("backgroundColor", "#FFF");
                }
            });

            if ($('.table').find('tr[data-id="11"]').hasClass('TemplateItem-Single')) {
                var row11 = parseInt($('.table').find('tr[data-id="11"]').find('.TemplateValue').val()) || 0;

                // сумма 12
                var row12 = 0;
                $('.table').find('tr[data-parent-id="12"]').find('.TemplateValue').each(function (index, element) {
                    row12 += parseInt($(element).val() || 0);
                });
                $('.table').find('tr[data-id="12"]').find('.MultyValue').val(row12);

                if (row11 != row12) {
                    $('.table').find('tr[data-id="11"]').find('.TemplateValue').css("backgroundColor", "#FFA000");
                    $('.table').find('tr[data-id="12"]').find('.TemplateValue').css("backgroundColor", "#FFA000");
                }
                else {
                    $('.table').find('tr[data-id="11"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                    $('.table').find('tr[data-id="12"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                }

                // сумма 13
                var row13 = 0;
                $('.table').find('tr[data-parent-id="13"]').find('.TemplateValue').each(function (index, element) {
                    row13 += parseInt($(element).val() || 0);
                });
                $('.table').find('tr[data-id="13"]').find('.MultyValue').val(row13);

                // сумма 14
                $('.table').find('tr[class*="TemplateItem-Multiple"][data-parent-id="14"]').each(function (index, element) {
                    var row14 = 0;
                    $('.table').find('tr[class*="TemplateItem-Single"][data-parent-id="14"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').find('.TemplateValue').each(function (i, e) {
                        row14 += parseInt($(e).val() || 0);
                    });
                    $(element).find('.MultyValue').val(row14);
                });

                // 12 = 13 + 14
                $('.table').find('tr[class*="TemplateItem-Single"][data-parent-id="12"]').each(function (index, element) {
                    var row12 = parseInt($(element).find('.TemplateValue').val() || 0);
                    var row13 = parseInt($('.table').find('tr[class*="TemplateItem-Single"][data-parent-id="13"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').find('.TemplateValue').val() || 0);
                    var row14 = parseInt($('.table').find('tr[class*="TemplateItem-Multiple"][data-parent-id="14"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').find('.MultyValue').val() || 0);
                    if (row12 != row13 + row14) {
                        $(element).css("backgroundColor", "#FFA000");
                        $('.table').find('tr[class*="TemplateItem-Single"][data-parent-id="13"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').css("backgroundColor", "#FFA000");
                        $('.table').find('tr[class*="TemplateItem-Multiple"][data-parent-id="14"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').css("backgroundColor", "#FFA000").removeClass('table-secondary');
                    } else {
                        $(element).css("backgroundColor", "#FFF");
                        $('.table').find('tr[class*="TemplateItem-Single"][data-parent-id="13"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').css("backgroundColor", "#FFF");
                        $('.table').find('tr[class*="TemplateItem-Multiple"][data-parent-id="14"][data-parent-name="' + $(element).data('parent-name').replace(/"/g, "'") + '"]').css("backgroundColor", "#FFF").addClass('table-secondary');
                    }
                });
            }
            else {
                // сумма 11
                var row11 = 0;
                $('.table').find('tr[data-parent-id="11"]').find('.TemplateValue').each(function (index, element) {
                    row11 += parseInt($(element).val() || 0);
                });
                $('.table').find('tr[data-id="11"]').find('.MultyValue').val(row11);
            }

            if (needValidate) {
                var row1 = parseInt($('.table').find('tr[data-id="1"]').find('.TemplateValue').val()) || 0;
                var row2 = parseInt($('.table').find('tr[data-id="2"]').find('.TemplateValue').val()) || 0;
                var row7 = parseInt($('.table').find('tr[data-id="7"]').find('.TemplateValue').val()) || 0;
                var row9 = parseInt($('.table').find('tr[data-id="9"]').find('.TemplateValue').val()) || 0;
                var row10 = parseInt($('.table').find('tr[data-id="10"]').find('.TemplateValue').val()) || 0;

                if (row1 != row2 + row7) {
                    $('.table').find('tr[data-id="1"]').find('.TemplateValue').css("backgroundColor", "#FFA0A0");
                    $('.table').find('tr[data-id="2"]').find('.TemplateValue').css("backgroundColor", "#FFA0A0");
                    $('.table').find('tr[data-id="7"]').find('.TemplateValue').css("backgroundColor", "#FFA0A0");
                }
                else {
                    $('.table').find('tr[data-id="1"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                    $('.table').find('tr[data-id="2"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                    $('.table').find('tr[data-id="7"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                }

                if (row9 != row10 + row11) {
                    $('.table').find('tr[data-id="9"]').find('.TemplateValue').css("backgroundColor", "#FFB36C");
                    $('.table').find('tr[data-id="10"]').find('.TemplateValue').css("backgroundColor", "#FFB36C");
                    $('.table').find('tr[data-id="11"]').find('.TemplateValue').css("backgroundColor", "#FFB36C");
                }
                else {
                    $('.table').find('tr[data-id="9"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                    $('.table').find('tr[data-id="10"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                    $('.table').find('tr[data-id="11"]').find('.TemplateValue').css("backgroundColor", "#FFF");
                }
            }
        }

        $('input').on('input', ValidateProtocol);

        $('input:radio[name="viewProtocol"]').on('change', function () {
            if (this.checked && this.value == 'oper') {
                needValidate = false;
                $('.table').find('tr[data-oper="0"]').each(function (index, element) {
                    $(element).hide();
                });
                $('#protocolIssue').hide();
            }
            if (this.checked && this.value == 'full') {
                needValidate = true;
                $('.table').find('tr[data-oper="0"]').each(function (index, element) {
                    $(element).show();
                });
                $('#protocolIssue').show()
                ValidateProtocol();
            }
        });

        $('#btnProtocolCancel').on('click', function () {
            var returnUrl = '@ViewData["ReturnUrl"]';
            window.location = returnUrl;
        });

        $('#btnProtocolSave').on('click', function () {
            var returnUrl = '@ViewData["ReturnUrl"]';
            var url = '@Url.Action("EditProtocol", "Protocol")';
            var protocol = new Object();
            protocol.id = $('#protocolId').val();
            protocol.items = new Array();
            protocol.issue = $('#protocolIssue').val();
            $('.TemplateValue').each(function (index, element) {
                var protocolItem = new Object();
                protocolItem.itemId = $(this).data('id');
                protocolItem.itemValue = parseInt($(this).val());
                protocol.items.push(protocolItem);
            });

            $.ajax({
                url: url,
                data: JSON.stringify(protocol),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                error: function (e) { },
                success: function (data) {
                    window.location = returnUrl;
                }
            });
        });

        $('#operationalProtocol').trigger('click');
    </script>
}